* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: linear-gradient(135deg, #f4f4f9, #b0bec5);
    font-family: Arial, sans-serif;
}

/* Header Styling */
header {
    text-align: center;
    background-color: #2e3a48;
    color: white;
    padding: 20px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

header p {
    font-size: 16px;
    font-weight: 300;
}

/* Calculator Container */
.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

/* Calculator Styling */
.calculator {
    background-color: #2e3a48;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    width: 320px;
    transition: transform 0.3s;
}

.calculator:hover {
    transform: scale(1.05);
}

#display {
    width: 100%;
    height: 60px;
    background-color: #1c2530;
    color: #fff;
    font-size: 30px;
    text-align: right;
    padding: 15px;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

button {
    background-color: #ddf00f;
    color: #060606;
    border: none;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #ec8b02;
    transform: translateY(-5px);
}

button:active {
    background-color: #42cd1f;
    transform: translateY(0);
}

.zero {
    grid-column: span 2;
}

button.operation {
    background-color: #ff7043;
}

button.operation:hover {
    background-color: #ff8a65;
}

button.operation:active {
    background-color: #e64a19;
}

/* Footer Styling */
footer {
    text-align: center;
    background-color: #2e3a48;
    color: white;
    padding: 10px 0;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
}

footer p {
    font-size: 14px;
    margin: 5px 0;
}